body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0px 20px;
}

.container {
  border-radius: 8px;
  background-color: #dadada;
  margin: 20px;
  padding: 20px;
}

label {
  font-size: larger;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #09b576;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 100%; */
}

button:hover {
  background-color: #37943c;
}
